:root{
    --base-background-menu-row: #37474F;
    --base-background-menu-row-hover: #455A64;
    --base-background-menu-row-active: #DF468E;
    --base-background-content: #F5F5F5;
    --background-logo: #1E88E5;
    --background-header: #E0E0E0;
}

body{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

#app{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.g5{
    gap: 5px;
}

.g10{
    gap: 10px;
}

.g15{
    gap: 15px;
}

.g20{
    gap: 20px;
}

.w-max-content{
    width: max-content;
}

.block-content .content-block:nth-last-child(1){
    padding-bottom: 150px;
}