@import "@/assets/css/base.css";
@import "@/assets/css/fonts.css";

/*region Для layoutContentElement*/
.content-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid #BCC7D3;
}

.desc-content{
    opacity: .5;
}

.content-body{
    background-color: white;
}

.header-body-content{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#week-control{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline: 5px 10px;
}
/*endregion*/