@import "@/assets/css/base.css";
@import "@/assets/css/fonts.css";

/*region Для layoutContentElement*/
.content-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid #BCC7D3;
}

.desc-content{
    opacity: .5;
}

.content-body{
    background-color: white;
}

.header-body-content{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#week-control select{
    padding: 5px;
    border: none;
    outline: none;
    font-size: 12pt;
}

.arrow-drop{
    transform: rotate(180deg);
}

.noselect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

/*#week-control{*/
    /*display: flex;*/
    /*align-items: center;*/
    /*gap: 10px;*/
    /*padding-inline: 5px 10px;*/
/*}*/
/*endregion*/